AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_TRUSTED_HOST=

GOOGLE_APPLICATION_CREDENTIALS=
AUTH_FIREBASE_PROJECT_ID=
AUTH_FIREBASE_CLIENT_EMAIL=
AUTH_FIREBASE_PRIVATE_KEY=